.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-block-end: 6.4rem;

  &__slogan {
    margin-block-end: 2.4rem;
  }

  &__title {
    margin-block-end: 3.2rem;
    max-inline-size: 14ch;
  }

  &__content {
    max-inline-size: 35ch;
  }

  @media (min-width: 768px) {
    & {
      margin-block-end: 7.2rem;
    }

    &__slogan {
      margin-block-end: 1.6rem;
    }

    &__title {
      max-inline-size: 16ch;
    }

    &__content {
      max-inline-size: 55ch;
    }
  }

  @media (min-width: 1440px) {
    &__content {
      max-inline-size: 43ch;
    }
  }
}